
<nav class="nav-collapse closed nav-collapse-0 closed" aria-hidden="true">
  <ul>
    {% for link in site.links %}
      {% if link.title != "" %}
        <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if site.search %}<li class="dosearch"><i class="icon-search" ></i> Search</li>{% endif %}
  </ul>
</nav>



{% if page.permalink != '/' && site.logo != null %}
<a href="/" class="site-logo-sm" rel="home" title="{{ site.title }}">
  <img src="../images/favicon-96x96.png" alt="{{ site.title }} logo" class="animated fadeInUp">
  <h2 class="site-description animated fadeIn" itemprop="description">greenfield innovation group</h2>
</a>
{% endif %}


  
{% include browser-upgrade.html %}

{% if page.permalink == '/' %}
<header class="masthead">
  <div class="wrap">
    {% if site.logo != null %}
      <a href="/" class="site-logo" rel="home" title="{{ site.title }}"><img src="../images/site-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp"></a>
    {% endif %}
    <h1 class="site-title animated fadeIn"><a href="/">{{ site.corp.dba }}</a></h1>
    <h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
  </div>
</header>
{% endif %}

{% if page.image.feature != null %}
  {% if site.search %}
    <div class="search-wrapper">
      <div class="search-form">
        <input type="text" class="search-field" placeholder="Search...">
        <i class="icon-remove-sign icon-2x"></i>
        <ul class="search-results post-list"></ul>
      </div>
    </div>
  {% endif %}
{% endif %}
