# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
*.swp

# Compiled Python files
*.pyc

# Application specific files
.idea
*.sublime-project
*.sublime-workspace
venv
node_modules
bower_components
.grunt          # temporary clone location
.sass-cache
.tmp         # intermediate build steps
.tmp/**         # intermediate build steps
# _site/**      #contains Jekyll-generated static site files
debug
build
npm-debug.log
Gemfile.lock
env/*
!env/sample.sh
sitemap.xml
