#chart, #legend, #breadcrumbTrail {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  border: 1px solid #eeeeee;
  background-color: #dddddd;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

aside {
  font-size: 12px;
  color: #a3a3a3;
}

label {
  color: #666;
}

#breadcrumbTrail {
  margin: 10px;
  width: 1000px;
  height: 30px;
  polygon{
    cursor: pointer;
  }
}

.breadcumb-text {
  margin: 10px;
  font-size: 12px;
  font-weight: 500;
}

#chart {
  margin: 10px;
  width: 1000px;
  font-size: 14px;
  letter-spacing: 0.06em;
}

#legend {
  cursor: pointer;
  margin: 10px;
  font-size: 12px;
  width: 1000px;
  height: 30px;
  text {
    font-weight: 400;
    letter-spacing: .02em;
  }
}


rect {
  stroke: #fff;
  &:hover {
    cursor: pointer;
  }
}

.children {
  rect {
    &.parent {
      fill: none;
    }
    &.child {
      opacity: 1;
      fill-opacity: 1;
    }
  }
}

text {
  pointer-events: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  &.currency {
    font-weight: 300;
  }
}


.health-care { fill: #fb8072 }
.telecommunication-services { fill: #BEB9DB }
.financials {fill: #B2E061 }
.materials {fill: #8BD3C7 }
.industrials { fill: #80b1d3 }
.information-technology { fill: #FFB55A }
.consumer-discretionary { fill: #d9d9d9 }
.consumer-staples { fill: #FDCCE5}
.utilities {fill: #CCEBC5 }
.energy { fill: #FFFFAF}

polygon.sector.allocation { fill: #aaaaaa;}
