body {
  margin-top: 24px;
  font-size: 16px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 5px solid #3d9733;
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
  -webkit-margin-after: 0;
}
p {
  margin-top: .3em;
  -webkit-margin-before: .3em;
}
.navigation-wrapper {
  text-align: left;
  *zoom: 1;
}
.navigation-wrapper:before,
.navigation-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper:after {
  clear: both;
}
.navigation-wrapper ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 50px;
  padding: 0px .75em 10px 10px;
  background-color: #3d9733;
  border-top: 0px solid #3d9733;
  -webkit-border-radius: 0 0 35px 0;
  -moz-border-radius: 0 0 35px 0;
  border-radius: 0 0 35px 0;
  *zoom: 1;
}
.navigation-wrapper ul:before,
.navigation-wrapper ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper ul:after {
  clear: both;
}
.navigation-wrapper li {
  display: block;
  float: left;
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-wrapper li a:hover {
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
}
.navigation-wrapper a {
  display: block;
  padding: 6px 10px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navigation-wrapper a:hover {
  background-color: #1a1a1a;
}
.navigation-wrapper a.site-logo-sm {
  float: right;
}
@media only screen and (min-width: 48em) {
  .navigation-wrapper a.site-logo-sm {
    left: 400px;
    position: absolute;
    float: none;
  }
}
.navigation-wrapper a.site-logo-sm img {
  width: 55px;
  height: 55px;
  clear: none;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
  border: medium none;
}
.navigation-wrapper a.site-logo-sm:hover {
  background-color: transparent;
}
.navigation-wrapper #site-nav.opened ul {
  *zoom: 1;
  border-top: 32px solid #3d9733;
  float: left;
}
.navigation-wrapper #site-nav.opened ul:before,
.navigation-wrapper #site-nav.opened ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper #site-nav.opened ul:after {
  clear: both;
}
.navigation-wrapper #site-nav.closed ul {
  *zoom: 1;
  padding-top: .5em;
  border-top: 0 solid #3d9733;
  float: left;
}
.navigation-wrapper #site-nav.closed ul:before,
.navigation-wrapper #site-nav.closed ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.navigation-wrapper #site-nav.closed ul:after {
  clear: both;
}
#site-nav {
  z-index: 9000;
  display: none;
  text-align: left;
}
@media only screen and (min-width: 48em) {
  #site-nav {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
}
@media only screen and (min-width: 48em) {
  #site-nav.closed {
    display: block;
  }
}
#site-nav.opened {
  display: block;
  max-height: 100%;
}
#site-nav.opened li {
  float: none;
}
@media only screen and (min-width: 48em) {
  #site-nav.opened li {
    float: left;
  }
}
.no-js #site-nav {
  display: block;
}
#nav-toggle {
  z-index: 9999;
  color: #aaa;
  text-align: left;
  display: block;
  position: absolute;
  vertical-align: top;
  margin: 0;
  padding: 4px 20px;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media only screen and (min-width: 48em) {
  #nav-toggle {
    display: none;
  }
}
.masthead {
  margin-top: 40px;
  *zoom: 1;
}
.masthead:before,
.masthead:after {
  display: table;
  content: "";
  line-height: 0;
}
.masthead:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .masthead {
    margin-top: 0;
  }
}
.masthead .wrap {
  text-align: center;
  max-width: 27.5em;
  padding-right: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 48em) {
  .masthead .wrap {
    max-width: 45.5em;
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 62.5em) {
  .masthead .wrap {
    max-width: 60em;
  }
}
.site-logo img {
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
  border: medium none;
}
@media only screen and (min-width: 48em) {
  .site-logo img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 62.5em) {
  .site-logo img {
    width: 200px;
    height: 200px;
  }
}
.site-title {
  margin-bottom: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .75s;
  -moz-animation-delay: .75s;
  -o-animation-delay: .75s;
  animation-delay: .75s;
}
.site-title a {
  color: #000000;
}
.site-description {
  margin-top: 0;
  font-family: 'source-sans-pro', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #3d9733;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@media only screen and (min-width: 48em) {
  .site-description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
#main {
  *zoom: 1;
}
#main:before,
#main:after {
  display: table;
  content: "";
  line-height: 0;
}
#main:after {
  clear: both;
}
@media only screen and (max-width: 659px) {
  #main {
    padding: 0 1.5%;
  }
}
.entry,
.hentry {
  *zoom: 1;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.entry:before,
.hentry:before,
.entry:after,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}
.entry:after,
.hentry:after {
  clear: both;
}
.entry-feature-image {
  margin: 20px 0 0;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .entry-feature-image {
    margin-top: 0;
  }
}
@media only screen and (min-width: 62.5em) {
  .entry-feature-image {
    margin-top: -40px;
  }
}
.entry-header {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}
@media only screen and (min-width: 62.5em) {
  .entry-header {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.entry-tags {
  display: block;
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}
.entry-tags a {
  color: #222222;
}
span + .entry-title {
  margin-top: 0;
}
.entry-title {
  font-family: 'source-sans-pro', sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -3px;
}
.entry-title a {
  color: #000000;
  text-decoration: underline;
}
@media only screen and (min-width: 48em) {
  #page .entry-title {
    max-width: 600px;
    font-size: 52px;
    font-size: 3.25rem;
  }
}
@media only screen and (min-width: 62.5em) {
  #page .entry-title {
    max-width: 800px;
    font-size: 68px;
    font-size: 4.25rem;
  }
}
.entry-wrapper {
  margin: 0 auto 3em;
  *zoom: 1;
}
.entry-wrapper:before,
.entry-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.entry-wrapper:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .entry-wrapper {
    max-width: 760px;
  }
}
@media only screen and (min-width: 62.5em) {
  .entry-wrapper {
    max-width: 90%;
  }
}
.entry-meta {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
}
.entry-meta a {
  color: #222222;
}
@media only screen and (min-width: 62.5em) {
  .entry-meta {
    float: left;
    width: 150px;
    margin: 0 40px 40px 0;
    padding: 0;
  }
}
.entry-meta > span {
  padding: 0 20px 10px 0;
  display: inline-block;
}
@media only screen and (min-width: 62.5em) {
  .entry-meta > span {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.author-photo {
  display: none;
}
@media only screen and (min-width: 62.5em) {
  .author-photo {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    *zoom: 1;
  }
  .author-photo:before,
  .author-photo:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .author-photo:after {
    clear: both;
  }
}
.entry-content {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.entry-content p:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 62.5em) {
  .entry-content {
    float: left;
  }
}
.entry-content p > a,
.entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}
.entry-content p > a:hover,
.entry-content li > a:hover {
  border-bottom-style: solid;
}
.post-list li > a {
  border-bottom-width: 0;
}
#disqus_thread {
  margin-top: 2em;
}
.pagination {
  text-align: center;
}
#home .entry-title,
#page .entry-title {
  max-width: 100%;
}
@media only screen and (min-width: 62.5em) {
  #home .entry-content,
  #page .entry-content {
    float: none;
  }
}
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list li {
  padding: 8px 0;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  *zoom: 1;
}
.post-list li:before,
.post-list li:after {
  display: table;
  content: "";
  line-height: 0;
}
.post-list li:after {
  clear: both;
}
.post-list a > span {
  float: right;
}
.post-list .entry-date {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: none;
}
@media only screen and (min-width: 48em) {
  .post-list .entry-date {
    display: inline;
  }
}
.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}
.tag-box:before,
.tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.tag-box:after {
  clear: both;
}
.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}
.search-wrapper {
  display: none;
  position: absolute;
  top: 50px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  *zoom: 1;
}
.search-wrapper:before,
.search-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.search-wrapper:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .search-wrapper {
    top: 100px;
  }
}
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  text-align: center;
  font-family: 'source-sans-pro', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: normal;
  color: #555555;
}
.footer-wrapper:before,
.footer-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer-wrapper:after {
  clear: both;
}
.footer-wrapper a {
  color: #555555;
}
.contribution-credit {
  font-size: 10px;
  font-size: 0.625rem;
  margin: 3ex;
}
.social-icons {
  margin: 1em 0 2em;
}
.social-icons a {
  padding: 4px 8px;
}
.social-icons a:hover {
  color: #000000;
}
.social-icons a.image-icon {
  display: inline-block;
}
.upgrade {
  padding: 10px;
  text-align: center;
}
#goog-fixurl ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#goog-fixurl ul li {
  list-style-type: none;
}
#goog-wm-qt {
  width: auto;
  margin-right: 10px;
}
#goog-wm-sb {
  display: inline-block;
  padding: 8px 20px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000 !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#goog-wm-sb:visited {
  color: #ffffff;
}
#goog-wm-sb:hover {
  background-color: #ffffff;
  color: #000000;
}
